<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Page</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/turtle.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/teacherpage.css">
    <script type="text/javascript" src="/javascripts/jquery-1.6.4.min.js"></script>

</head>
<body>

    <div id="page">
        <table id="top">
            <td id="topleft">

                <p>Hello, <a href=""><%= username%></a></p>

            </td>

            <td id="topright">
                <nobr id="buttonbar">
                    <button id="logout" onclick="location.href='/logout'">Log Out</button>
                </nobr>
            </td>
        </table>
    </div>

    <div id="classid">
        <p>You are the teacher of class <b><%= class_id%></b></p>
    </div>

    <div id="leftColumn">
        <table class="student_table" id="available_student_table">
            <form action="/teacherpage" method="POST">
                <caption>Students not in a class</caption>
                <thead>
                    <tr>
                        <th>student_id</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th></th>
                    </tr>
                </thead>

                <% for(var i = 0; i < length1; i++){ %>
                <tbody>
                    <tr>
                        <th><%= result1[i].student_id %></th>
                        <th><%= result1[i].firstname %></th>
                        <th><%= result1[i].lastname %></th>
                        <th><button type="submit" name="addid" value="<%= result1[i].student_id %>">Add</button></th>
                    </tr>
                </tbody>
                <% } %>
            </form>
        </table>
    </div>

    <div id="middleColumn">
        <table class="student_table" id="current_student_table">
            <form action="/teacherpage" method="POST">
                <caption>Students in your class</caption>
                <thead>
                <tr>
                    <th>student_id</th>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th></th>
                </tr>
                </thead>

                <% for(var i = 0; i < length2; i++){ %>
                <tbody>
                <tr>
                    <th><%= result2[i].student_id %></th>
                    <th><%= result2[i].firstname %></th>
                    <th><%= result2[i].lastname %></th>
                    <th><button type="submit" name="kickid" value="<%= result2[i].student_id %>">Kick</button></th>
                </tr>
                </tbody>
                <% } %>
            </form>
        </table>
    </div>

    <div id="middleColumn2">
        <table class="student_table">
            <form action="/teacherpage" method="POST">
                <caption>Your tasks</caption>
                <thead>
                <tr>
                    <th>filename</th>
                    <th>view</th>
                    <th></th>
                </tr>
                </thead>

                <% for(var i = 0; i < length3; i++){ %>
                <tbody>
                <tr>
                    <th><%= result3[i].filename %></th>
                    <th><a href="<%= result3[i].filepath %>">View</a></th>
                    <th><button type="submit" name="removename" value="<%= result3[i].filename %>">Remove</button></th>
                </tr>
                </tbody>
                <% } %>

            </form>
        </table>
    </div>

    <div id="rightColumn">
        <p>File Upload:</p>
        <form action="/teacherupload" method="POST" enctype="multipart/form-data">
            <input type="file" name="myfile" />
            <br />
            <input type="submit" value="Upload" />

        </form>
    </div>


</body>
</html>