<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Login</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <h2>Teacher Login</h2>
    <form action="/teacherlogin" method="POST" role="form">
        <div class="imgContainer">
            <img src="/images/loginlogo.png" alt="Avater" class="loginLogo">
        </div>
        <div class="container">
            <label><b>Username</b></label>
            <input type="text" name="username" placeholder="Enter Username">

            <label><b>Password</b></label>
            <input type="password" name="pwd" placeholder="Enter Password">

            <p id="error_msg"><%= login_error%></p>

            <button type="submit">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="backButton" onclick="location.href='/' ">Back</button>
        </div>
    </form>

</body>
</html>